{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site d'Elan Formation</h1>
        
        {% for session in sessions %}
            <p>{{ session.titre }}</p>
        {% endfor %}
{% endblock %}
