*{
    box-sizing: border-box;
}
.uk-active{
    text-align: center;
    font-size: 1.5em;
}
.centerbutton{
    text-align: center;
}
.ret{
    color: rgb(1, 48, 38);
    font-size: large;
}
.joliH1{
    font-size: xx-large;
    color: rgb(10, 2, 0);
}
label{
font-size: x-large;
color: rgb(80, 53, 12);
}
input {
    margin: auto;
    margin-left: 1em;
}
.uk-button{
    margin:1em;
}

.uk-input, .uk-select:not([multiple]):not([size]){
height: 25px;
}
.uk-table th{
    background-color: rgb(204, 202, 202);
    color: rgb(48, 2, 11);
}
.uk-table td{
    color: rgb(3, 0, 3);
}
.uk-icon-link {
    color: rgb(212, 6, 47);
}
.uk-navbar-container:not(.uk-navbar-transparent){
background-color: #39f;
}
.uk-link, a{
    color :rgb(12, 12, 12);
}
.uk-navbar-nav>li.uk-active>a{
    color :rgb(240, 248, 246);
    font-size: large;
}
html{
    color: black;
    font-size: large;
}
