{% extends 'base.html.twig' %}

{% block body %}

<a class="ret" href="{{ path('activitys_index') }}" > Retour </a>

{% if editMode %}
    <h1 class="joliH1" >Modification d'un formation <h1>
{% else %}
    <h1 class="joliH1" >Ajout d'un formation</h1>
{% endif %}

{{ form(formFormation) }}

{% endblock %}