{% extends 'base.html.twig' %}

{% block body %}


    <a class="ret" href="{{ path('plannings_index') }}" > Retour </a>



{% if editMode %}
    <h1 class="joliH1">Modification d'un stagiaire <h1>
{% else %}
    <h1 class="joliH1">Ajout d'un stagiaire</h1>
{% endif %}

{{ form(formStagiaire) }}

{% endblock %}